version: "3"
services:
  nginx:
    build:
      context: ./nginx
    ports:
      - "80:80"
    depends_on:
      - app
    environment:
      - APP_DOMAIN=${APP_DOMAIN}
    restart: unless-stopped
  app:
    build:
      context: ./app
    restart: unless-stopped
