[Unit]
Description=Open the sesame remotely
After=network.target

[Service]
ExecStart=/home/pi/open-the-sesame/index.js
Restart=always
RestartSec=10

# pigpio needs the root access
User=root
Group=root

Environment=NODE_ENV=production
WorkingDirectory=/home/pi/open-the-sesame

[Install]
WantedBy=multi-user.target

# refs https://certsimple.com/blog/deploy-node-on-linux
