[Unit]
Description=Open the sesame remotely
After=network.target

[Service]
ExecStart=/home/pi/open-the-sesame/pi/index.js
Restart=always
RestartSec=10

Environment=NODE_ENV=production SENTRY_ENVIRONMENT=pi
WorkingDirectory=/home/pi/open-the-sesame/pi/

[Install]
WantedBy=multi-user.target
